body {
  background: url("/src/images/bgmain.png") no-repeat center center fixed;
  background-size: cover;
  font-family: Lekton, sans-serif;
  margin: 0;
}

.bg-image1 {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-left: auto;
  width: 280px;
  z-index: 1;
}

.container {
  background-color: #f5f7fb;
  height: auto;
  margin: 100px;
  border-radius: 30px 30px 30px 30px;
}

.header {
  height: 70px;
  width: auto;
  background-color: rgb(0, 153, 255);
  box-shadow: 3px 3px 3px grey;
  position: relative;
  z-index: 50;
  border-radius: 30px 30px 0px 0px;
  color: white;
}

.title {
  display: flex;
  justify-content: center;
  position: relative;
  top: 12px;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}

.welcome {
  position: relative;
  top: 20%;
  text-align: center;
}

.button {
  color: white;
  background-color: rgb(0, 153, 255);
  border: 2px solid black;
  width: 150px;
  border-radius: 20px;
  cursor: pointer;
  padding: 8px;
  font-weight: 700;
  margin-top: 10px;
  text-align: center;
}

.button-box {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.submit-box {
  color: white;
  background-color: rgb(0, 153, 255);
  border: 2px solid black;
  width: 150px;
  border-radius: 20px;
  cursor: pointer;
  padding: 8px;
  font-weight: 700;
  margin-top: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.button:hover {
  background-color: rgb(252, 216, 118);
  transition-delay: 0.1s;
}

.button:focus {
  background-color: rgb(180, 179, 177);
}

.game-container {
  margin: 20px;
}

.question {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.answer-container {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 40px;
  margin-top: 5px;
  margin-bottom: 15px;
}

/* .answer-radio {
  display: flex;
  margin-bottom: 36px;
  overflow: hidden;
  width: 100px;
  box-shadow: 2px 2px 2px 2px grey;
  border-radius: 20px;
  cursor: pointer;
  padding: 5px;
  font-weight: 700;
  border: 1px solid black;
  background-color: blue;
} */

/* Testing below */
.label {
  background-color: black !important;
}

input {
  background-color: red !important;
}

input:checked + label {
  background-color: cyan !important;
}

.answer-radio:checked + label {
  background-color: blue !important;
}

.answer-radio input:checked + label {
  background-color: green !important;
}

.selected-text {
  background-color: orange !important;
}

.radiobox-test input:checked + label {
  background-color: green !important;
  color: orange;
}

/* .answer-radio input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
} */

input[type="radio"] {
  margin-right: 0.75rem;
  /* background-color: blue !important; */
}

.answer-radio label {
  text-align: center;
  background-color: white;
  color: black;
  font-size: 14px;
  padding: 8px;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 15px;
  margin: 5px;
  display: flex; /* need flix to avoid split and wraparound */
  width: auto;
  cursor: pointer;
}

/* .answer-button:hover {
  background-color: rgb(252, 216, 118);
  transition-delay: 0.1s;
}

.answer-button:focus {
  background-color: rgb(180, 179, 177);
} */

.loading {
  margin: 20px;
}

.footer {
  height: 50px;
  background-color: rgb(0, 153, 255);
  border-radius: 0px 0px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fffad1;
}
